/******** CZCIONKI ********/

/* Awaryjnie */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url('../font/material-symbols-outlined.woff2') format('woff2');
}

/* Alfabet łaciński rozszerzony */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('../font/open-sans-latin-extended.woff2') format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, 
    U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* Alfabet łaciński */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300 800;
  font-stretch: 100%;
  font-display: swap;
  src: url('../font/open-sans-latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, 
    U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 40;
  color: inherit
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/********* NAGŁÓWEK *********/

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    column-gap: 16px;
    margin: 0 8px;
    cursor: pointer;
    
    .icon {
        font-size: 48px;
        color: #2a2a2a;
    }
}

.title {
    font-size: 48px;
    line-height: 200%;
    color: #2A2A2A;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .header .icon {
        font-size: 24px;
    }

    .title {
        font-size: 24px;
    }
}

@media screen and (max-width: 375px) {
    .header .icon {
        font-size: 16px;
    }

    .title {
        font-size: 16px;
    }
}

/*********** MENU ***********/

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: #8AEA92;
    flex-wrap: wrap;
    padding: 0 16px;

    .link {
        color: #2a2a2a;
    }
}

.item {
    font-size: 32px;
    padding: 24px 0;
    text-transform: uppercase;
    margin: 0 16px;
}

@media screen and (max-width: 1024px) {
    .item {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .item {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .item {
        font-size: 16px;
    }
}

/* ******** ZNIŻKA ******** */

.incentive {
    background-color: #3E505B;
    padding: 16px 0 48px 0;
    color: #efefef;
    
    .subheader {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0;
        
        .heading {
            text-transform: uppercase;
            margin-left: 16px;
            font-size: 32px;
        }

        .icon {
            font-size: 32px;
        }
    }

    .text {
        font-size: 24px;
        margin: 0 72px;
    }

    .primary {
        padding: 12px 16px;
        border: none;
        margin: 8px 32px;
        background-color: #8AEA92;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 48px auto 0 auto;
        text-transform: uppercase;
    }

    .code {
        text-transform: uppercase;
    }
}

@media screen and (max-width: 900px) {
    .incentive {
        .subheader {
            .heading {
                font-size: 20px;
            }
        }

        .text {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 500px) {
    .incentive {
        .text {
            margin: 0 32px;
        }
    }
}

/* ********* INNE ********* */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 36px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .heading {
        font-size: 28px;
    }

    .icon, .cta {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .heading {
        font-size: 20px;
    }
}

.icon {
    user-select: none;
}

.divider, .footer {
    font-size: 32px !important;
    margin: 16px 0 !important;
    text-align: center;
    width: 100vw;
    cursor: pointer;
}
